/*
@import url(http://fonts.googleapis.com/css?family=Bitter);
.bitter{font-family: 'Bitter', serif}
.arial{font-family: Arial, Helvetica, sans-serif;}
*/
@font-face {
    font-family: 'Proximanova';
    src:url('../fonts/proximanova-regular-webfont.woff') format('woff'),
        url('../fonts/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.bgindex{min-height:613px;}
.bgindex1{background: url(../images/landing-page-image-1.jpg) no-repeat ; background-size: 100% 100%;}
.bg-about{background: url(../images/about.jpg) no-repeat; background-size: 80% 40%;height:440px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.bg-vision{background: url(../images/vision.jpg) no-repeat; background-size: 100% 100%;}
.bg-home{background: url(../images/home_1.jpg) no-repeat center center fixed; background-size: 100% 160%; min-height:485px; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/* .bgindex1{background: url(../images/bg_blurry.jpg) no-repeat; background-size: 100% 100%;} */
body{font-family: 'Proximanova',Arial, Helvetica;}

.h485{min-height:485px}

.subindex{font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 22px; color: #5f5e5d;}
.bgSftBlk{background: #333333}
.bgSftGry{background: #DDDDDD}
.bgBlk{background: #000}
.bgBlu{background: #00A3D9}
.bgRed{background: #D93600}
.bgWht{background: #FFF}
.bgOrg{background: #FFA64C}
.bgTopFooter{background: #f8f9fa}
.bgInput{background: #f8f9fa}
.bgSignature{background:#024089}

.bgPch{background:#F0F0E1}
.bgSftGry{background: #F0F0E1}
.bgSftGrn{background: #dff0d8}

.bgBluLight{background-color:#0089C9}
.br{margin-bottom:6px}
.br-sm{margin-bottom:6px}
.br-md{margin-bottom:10px}
.br-lg{margin-bottom:16px}

.bdrTopGry{border-top: 2px solid #e1e1e8;}
.bdrHdr{border: 2px solid #e1e1e8; border-bottom: none}
.bdrFtr{border: 2px solid #e1e1e8; border-top: none}

.clrBlk{color:#000}
.clrBlu{color:#00A3D9}
.clrGry{color:#CACAD9}
.clrGrn{color:#59B300}
.clrRed{color:#D93600}
.clrWht{color: #FFF}
.clrOrg{color: orange}
.clrLgtBlu {color: #1fb4ff}
.clrLgtGry {color: #777}
.clrSignature{color:#024089}

.f12{font-size:12px}
.f15{font-size:15px}
.f18{font-size:18px}
.f24{font-size:24px}
.f36{font-size:36px}
.fntSml{font-size:8px}
.fntMed{font-size:14px}
.fntLrg{font-size:18px}
.fntHdr{font-size:24px}

.no-u a{text-decoration:none}
.no-u a:hover{text-decoration:none}

a.none, a.none:visited{color:black;text-decoration:none}
a.none:hover { color: none; text-decoration:none }

a.clrWht, a.clrWht:visited{color:#fff;text-decoration:underline}
a.clrWht:hover{color:#fff}
a.nohover:hover { color: none; text-decoration:none }

.nohover:hover { background: none; text-decoration:none }

.input{padding:5px 10px;border:1px solid #D5D5D5; border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.list-group-item.bgRed, .list-group-item.bgRed:hover{ background: red; text-decoration:none }
.list-group-item.nohover{ background: none; text-decoration:none }

.lnkWht a, .lnkWht a:visited{color:#fff;text-decoration:underline}
.lnkWht a:hover{color:#fff;text-decoration:none}

.lnkRed a, .lnkRed a:visited{color:#FF0000;text-decoration:none}
.lnkRed a:hover{color:#FF0000;text-decoration:underline}

.lnkBlu a, .lnkBlu a:visited{color:#00A3D9;text-decoration:underline}
.lnkBlu a:hover{color:#00A3D9;text-decoration:none}

.tdcNon a, .tdcNon a:visited, .tdcNon a:hover{text-decoration:none}{text-decoration:none}

.lnkLogo a, .lnkLogo a:visited{color:#FFF;text-decoration:none;background:none}
.lnkLogo a:hover{color:#FFF;text-decoration:none;background:none}

.lnkMenu a, .lnkMenu a:visited{color:#888888;text-decoration:none;background:none}
.lnkMenu a:hover{color:#888888;text-decoration:underline;background:none}

.lnkBlk a, .lnkBlk a:visited{color:#000;text-decoration:none;background:none}
.lnkBlk a:hover{color:#000;text-decoration:underline;background:none}

.lnkLgtGry a, .lnkLgtGry a:visited{color:#777;text-decoration:none;background:none}
.lnkLgtGry a:hover{color:#777;text-decoration:underline;background:none}

.navbar-toggle{color:#000;text-decoration:none;background:#ddd}
.navbar-toggle:hover{color:#000;text-decoration:underline;background:#ddd}

.fntSm{font-size:14px}
.fntMd{font-size:18px}
.fntLg{font-size:24px}

.h300{min-height:300px}
.h350{min-height:350px}

.padNon{padding:0}
.padMed{padding:10px}
.padLrg{padding:15px}
.padTop10{padding-top:10px}

.padLftMed{padding-left:10px}
.padLftLrg{padding-left:15px}
.padTop15{padding-top:15px}

.talCnt{text-align:center}
.talLft{text-align:left}
.talRgt{text-align:right}
.talJst{text-align:justify}

.min-height-250{min-height:300px}

.wdtFul{width:100%}

/*.padTop25{padding-top:25px} 
reset nih si jumbotron
*/
.jumbotron{padding-top:25px;margin-bottom:0}

.b{font-weight:bolder}
.i{font-style:italic}
.u{text-decoration:underline}

.bgBlurry{background:url('../images/bg_blurry.jpg'); background-size:cover}

.transparent-70{opacity: 0.7; filter: alpha(opacity=70); }

.dropdown:hover .dropdown-menu {
display: block;
}
.dropdown-menu a, .dropdown-menu a:visited{color:#000}
.dropdown-menu li a:hover{background:#0089C9;color:#FFF}

.divQuote {
    background: no-repeat scroll 0 0 #ededed;
    border-left: 3px solid #0890ff;
    color: #9c9c9c;
    font-size: 20px;
    font-style: italic;
    margin: 0 20px 20px 0;
    min-height: 50px;
    padding: 15px;
}

#banner_index { 
   background: url('asset/images/FB-JOB-TALENTO_1.jpg') no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   z-index:-1;
}
.stretch {
    width:100%;
    height:100%;
}
.background{
	width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
.pointer {cursor: pointer;}
.nyala , .nyala:visited{ background:#e2e2e2;color:#ffffff }
.nyala:hover{ background:grey;color:#000 }
